body,
html,
h1,
h2,
h3,
p,
ol,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
  font: inherit;
}
body {
  background-color: #2A2A2A;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  background-color: #FFFFFF;
  width: 70%;
  height: 700px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 100%;
    display: block;
  }
}
.container .left {
  width: 50%;
  height: 100%;
  background: url("../images/businessWoman.png") no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 400px) {
  .container .left {
    width: 100%;
  }
}
.container .left .info {
  background-color: #696969;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 10px 0 10px 0;
}
.container .left .info .name {
  font-size: 40px;
  text-align: center;
  font-family: 'Asul', sans-serif;
  font-weight: bold;
}
.container .left .info .subtitle {
  font-size: 30px;
  font-family: 'Asul', sans-serif;
  font-weight: lighter;
}
.container .left .info .content {
  font-size: 20px;
  font-weight: normal;
}
.container .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
}
@media (max-width: 400px) {
  .container .right {
    padding-left: 0;
    width: 100%;
    background-color: #FFFFFF;
  }
}
@media (max-width: 400px) {
  .container .right .experience {
    padding-left: 20px;
  }
}
.container .right .experience img {
  width: 90%;
}
.container .right .experience .title {
  font-family: 'Asul', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.container .right .experience .date {
  font-weight: lighter;
  font-style: italic;
  font-size: 12px;
  color: #696969;
}
.container .right .experience a {
  border-radius: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #2A2A2A;
  background-color: #696969;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #7FACAA;
  width: 15%;
  padding: 10px;
  margin-top: 15px;
}
.container .right .experience a:hover {
  color: #FFFFFF;
}
.container .right .experience a:hover {
  color: #2A2A2A;
}
